.bg-customized {
    background-color: rgb(141, 141, 141);
    border: 1px solid rgb(45, 45, 45);
    padding-bottom: 5px;
}

.parent .child {
    position: relative;
}

.content-buttons {
    position: absolute;
    bottom: 0;
}
.btn-customized {
    background-color: #1a0634f2;
}

.go-to-button {
    color: rgba(179, 224, 40, 1);
}

.go-to-button:hover {
    color: rgba(0, 181, 205, 1);
}

.like-button {
    color: rgba(179, 224, 40, 1);
}

.like-button:hover {
    color: rgba(0, 181, 205, 1);
}


