.main-div {
    margin-bottom: 250px;
    margin-top: 150px;
}


.tittle {
    color: rgba(179, 224, 40, 1); 
}

.customized-button {
    color: rgba(179, 224, 40, 1);
    background-color: #1a0634f2;
}