.footer-dark {
    margin-top: 25px;
    padding: 15px 0px;
    color:rgb(84, 84, 83);
    background-color:#1a0634f2;
    text-align: center;
  }

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgb(255, 255, 255);
    margin:0 10px;
    color: rgb(255, 255, 255);
    opacity:0.75;
  }

  .footer-dark .item.social > a:hover {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(179, 224, 40, 1);
    margin:0 10px;
    color: rgba(0, 181, 205, 1);
    opacity:0.75;
  }

.copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:15px;
  }

  .copyright:hover {
    color:rgba(0, 181, 205, 1);
  }
  
  .heart {
    color: red;
  }

 